@model EmployeeRegistration.Models.tblEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hobbies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hobbies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCountry.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCountry.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblState.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblState.StateName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpolyeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
