@model IEnumerable<EmployeeRegistration.Models.tblEmployee>

<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarritalStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hobbies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCountry.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblState.StateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
           
            @if (item.Gender != null)
            {
                @(item.Gender.Value==false ? Html.Raw("Male") : Html.Raw("Female"))
            }
        </td>
        <td>
            
            @if (item.MarritalStatus != null)
            {
                @(item.MarritalStatus.Value == false ? Html.Raw("UnMarried") : Html.Raw("Married"))
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hobbies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCountry.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblState.StateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpolyeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpolyeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpolyeeID })
        </td>
    </tr>
}

</table>
