@model IEnumerable<EmployeeRegistration.Models.tblState>

@{
    ViewBag.Title = "Index";
}

<hr />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCountry.CountryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCountry.CountryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StateID })
        </td>
    </tr>
}

</table>
